<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Juego de Parqueo</title>
  <link rel="stylesheet" href="../static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
  <div class="loading-screen">
    <div class="race-track">
      <img src="../static/images/dog.png" alt="Perrito" class="dog" id="dog">
      <img src="../static/images/trophy.png" alt="Trofeo" class="trophy">
    </div>
    <div class="progress-container">
      <div class="progress-bar" id="progress-bar"></div>
      <span id="progress-text">0%</span>
    </div>

    <button id="start-btn" class="hidden">TOCA PARA COMENZAR</button>
  </div>

  <script src="../static/scripts/main.js"></script>
</body>
</html>
